body {
	border: 1px solid lightgray;
	height: 300px;
	width: 725px;
	margin: auto;
	padding: auto;
}
ul.octodex {
	padding-right: 20px;
	padding-left: 20px;
}
img { 
	height: 200px;	
	width: auto;
}
li.octocat {
	float: left;
	margin: 1px;
	postion: relative;
}
.octocat img {
	border: 1px solid lightgray;
	margin: 10px;
}
.authors img {
	height: 20px;
	border: none;
	float: right;
	margin: 5px;
}
.image-caption {
	font-size: 11px;
	font-family: Arial;
	float: right;
	color: gray;
}
div.image-footer {
	padding-right: 10px;
	padding-left: 10px;
}
span.image-number {
	font-size: 11px;
	color: lightgray;
}
ul {
	list-style: none;
}
.image-caption a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
