body {
	border: 1px solid lightgray;
	height: 300px;
	width: 740px;
}

img { 
	height: 200px;	
}
li.octocat {
	float: left;
}
.octocat img {
	border: 2px solid lightgray;
	margin: 10px;
}
.authors img {
	height: 20px;
	border: none;
	float: right;
	margin: 5px;
	position: relative;
}
.image-caption {
	font-size: 11px;
	font-family: Arial;
	float: right;
	color: gray;
}
span.image-number {
	font-size: 11px;
	color: lightgray;
}
ul {
	list-style: none;
}
.image-caption a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}